my_venv/Lib/site-packages/matplotlib/mpl-data/
*.pyc
__pycache__/

my_venv/Lib/site-packages/chardet-5.2.0.dist-info/
my_venv/Lib/site-packages/chardet/
my_venv/Lib/site-packages/reportlab-4.2.0.dist-info/
my_venv/Lib/site-packages/reportlab/
